Update for clarity (add "these modules")

For clarity, may we update this sentence to indicate that
the modules, not the RFCs, support the configuration of the clients
and servers for both protocols?

```
Original:
   This document presents one or more YANG modules [RFC7950] that
   are part of a collection of RFCs that work together to, ultimately,
   support the configuration of both the clients and servers of both
   the NETCONF [RFC6241] and RESTCONF [RFC8040] protocols.

Perhaps:
   This document presents two YANG modules [RFC7950] that belong to a
   collection of RFCs that are designed to work together. Ultimately,
   these modules support the configuration of clients and servers for
   both the Network Configuration Protocol (NETCONF) [RFC6241] and 
   RESTCONF protocol [RFC8040].
``` 


I think that this issue can be closed now.