[AD] Security Considerations (YANG)

We have the following questions/comments related to the
Security Considerations section:

a) Please review the mismatch between the text in the Security
Considerations subsections with regard to readable, writable, and RPC
nodes: we see that this text does not use either alternative listed at
https://wiki.ietf.org/group/ops/yang-security-guidelines to describe
those nodes.

b) FYI - we have made a number of changes to more closely align the
Security Considerations section with the text appearing at
https://wiki.ietf.org/group/ops/yang-security-guidelines.  Please
review carefully and let us know any objections.

c) FYI - we have moved the reference to RFC 8341 to the Normative
References section per the guidance at
https://wiki.ietf.org/group/ops/yang-security-guidelines.  Please let
us know any objections.

d) We have attempted to add in the specific references for Security
Considerations sections for the YANG module groupings.  Please review
to ensure accuracy.

I am not sure where we landed with this text in the draft. I see some parts of it in the draft both under the section "Considerations for ietf-restconf-client" and "Considerations for ietf-restconf-server".

OLD:

(1) have to use a secure transport layer (e.g., Secure Shell (SSH)
[RFC4252], TLS [RFC8446], and QUIC [RFC9000]) and (2) have to use
mutual authentication.

NEW:
(1) have to use a secure transport layer (e.g., SSH Transport Layer [RFC4253])
and (2) have to use mutual authentication (e.g., Secure Shell (SSH) Authentication Protocol [RFC4252],
TLS [RFC8446], and QUIC [RFC9000]).